<!DOCTYPE html>
<html lang="en">
  <head>
    <meta/>
    <meta/>
    <meta/>
    <%= assets(:js)  %>
    <%= assets(:css) %>
    <title>Title</title>
    <body>
      <%= yield %>
    </body>
  </head>
</html>
